/* Website All Colors */
:root {
    --header-color: #181818;
    --header-font-color: #FFFFFF;
    --header-btn-color: #5E3BEE;
    --header-btn-font-color: #FFFFFF;
    --hero-font-color: #FFFFFF;
    --hero-btn-color: #5E3BEE;
    --hero-btn-font-color: #FFFFFF;
    --hero-btn-border-color: #FFFFFF;
    --hero-overlay-background:#383838;
    --cards-and-icons-section-background-color:#EEEEEE;
  }
/* Website All Colors */
